In [1]:
import pandas as pd
import folium
import matplotlib.pyplot as plt
%matplotlib inline

import json
import numpy as np

from collections import Counter
from folium.plugins import MarkerCluster
from sklearn.cluster import DBSCAN

from utils import *
from FedRank import FedRank

In [2]:
# develop mode
%load_ext autoreload
%autoreload 2

In [3]:
# Moscow coordinates
MOW = [55.75222, 37.61556]

r = 0.02
r2 = r**2

In [4]:
# load, clean and group train data
train_df = clean_df('./data/train_set.csv')
train_gr = train_df.groupby('customer_id')

test_df = clean_df('./data/test_set.csv')
test_gr = test_df.groupby('customer_id')

C:\Anaconda3\work\raiffazen\env\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (1,11) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):
C:\Anaconda3\work\raiffazen\env\lib\site-packages\IPython\core\interactiveshell.py:2850: DtypeWarning: Columns (1,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

### MCC
Подгружаем MCC коды, вычисляем их частотность в тренировочных данных. Выбираем MMC, которые встречаются более 10 000 раз и сохраняем их в mcc_list.

In [5]:
# load mcc codes
mcc_codes = pd.read_csv('./data/mcc_codes.csv', index_col='mcc')
mcc_counts = train_df['mcc'].value_counts().to_frame(name = 'count')
mcc_codes = mcc_counts.merge(mcc_codes, left_index=True, right_index=True)
mcc_list = mcc_codes.query('count >10000').index.values

In [6]:
mcc_codes.loc[:,['count','edited_description']].head(20)

       count                                 edited_description
5411  391635                       Grocery Stores, Supermarkets
6011  275228  Financial Institutions – Manual Cash Disbursem...
5814  128771                              Fast Food Restaurants
5812   62407                      Eating places and Restaurants
5499   44703  Misc. Food Stores – Convenience Stores and Spe...
5541   42296  Service Stations ( with or without ancillary s...
5912   41175                         Drug Stores and Pharmacies
4111   24899  Local/Suburban Commuter Passenger Transportati...
5921   18353            Package Stores – Beer, Wine, and Liquor
5331   13042                                     Variety Stores
5691   11331                  Men’s and Women’s Clothing Stores
5261   10635           Nurseries – Lawn and Garden Supply Store
5977   10093                                    Cosmetic Stores
5999    9607          Miscellaneous and Specialty Retail Stores
5311    9565                                  Department Stores
5211    6366               Lumber and Building Materials Stores
5641    5647                Children’s and Infant’s Wear Stores
5651    5418                             Family Clothing Stores
8099    5239  Medical Services and Health Practitioners (Not...
5995    5033          Pet Shops, Pet Foods, and Supplies Stores

In [7]:
best_dbscan_params = {'eps': 0.036, 'min_samples': 2}
clusters = get_dbscan_clust(train_gr, best_dbscan_params, mcc_list=mcc_list)

In [8]:
train_df = train_df.merge(clusters, left_index=True, right_index=True, how='left')
train_df.clust_label.fillna(-2, inplace=True)
t_gr = train_df.groupby(['customer_id','clust_label'])

In [10]:
train_df.head(5)

,amount,city,country,currency,customer_id,home_add_lat,home_add_lon,mcc,pos_address,pos_address_lat,pos_address_lon,terminal_id,transaction_date,work_add_lat,work_add_lon,clust_label
0,2.884034,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,,59.844072,30.179153,11606fde0c814ce78e0d726e39a0a5ee,2017-07-15,59.847,30.177,0
1,2.775633,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,,59.844072,30.179153,e9647a5e1eacfb06713b6af755ccc595,2017-10-27,59.847,30.177,0
2,3.708368,St Petersburg,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5992,"PR.MARSHALA ZHUKOVA,31St Petersburg190000 7...",59.858198,30.229024,df06c1fcd3718a514535ae822785f716,2017-10-03,59.847,30.177,-2
3,2.787498,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,,59.844072,30.179153,6c5e5793ebc984fb72875feffff62854,2017-09-09,59.847,30.177,0
4,2.892510,ST PETERSBURG,RUS,643.0,0dc0137d280a2a82d2dc89282450ff1b,59.851,30.232,5261,,59.844072,30.179153,0576445d74e374c92c0902e612fca356,2017-07-06,59.847,30.177,0

### Создаём допольнительные фичи
Проходимся по всем кластерам всех пользователей и считаем удельный вклад каждого MCC по количеству операций.

На выходе получаем таблицу, в которой колонки соответсвуют MCC

In [56]:
### Create features with relative contributions of each MCC code for each cluster of each customer
def get_mcc_features(gr):
    df = gr.mcc.aggregate('value_counts', **{'normalize':True}).unstack(level=-1).fillna(0)
    df.columns = ["mcc_%s" % (n1) for n1 in df.columns.values]
    return df

def get_clust_pos(gr):
    agg_dict = {
        'pos_address_lat':np.mean,
        'pos_address_lon': np.mean
        }
    return gr.aggregate(agg_dict)

def get_amount_features(gr):
    agg_dict = {
    'amount': [np.mean, np.max, np.min, 'count', 'std', 'sum']
    }
    c = gr.aggregate(agg_dict)
    newidx = []
    for (n1,n2) in c.columns.ravel():
        newidx.append("%s_%s" % (n1,n2))
    c.columns=newidx
    
    rel_features = c.loc[:,['amount_sum','amount_count']].groupby(level=0).transform(lambda x: x/x.sum())
    rel_features.columns = [x+'_rel' for x in rel_features.columns]
    
    return c.merge(rel_features, left_index=True, right_index=True)

In [57]:
train_clust_pos = get_clust_pos(t_gr)
train_amount_features = get_amount_features(t_gr)
train_mcc_features = get_mcc_features(t_gr)

In [58]:
train_amount_features

                                              amount_mean  amount_amax  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2              2.787178     3.143099
                                  0              3.309715     4.614833
                                  1              2.553616     2.973381
                                  2              3.255826     4.481342
0007297d86e14bd68bd87b1dbdefe302 -2              2.818547     4.696914
                                 -1              2.351594     2.351594
                                  0              2.491890     3.197908
                                  1              2.792455     4.590551
                                  2              2.820427     3.401110
                                  3              2.367055     2.712781
                                  4              2.951470     4.499151
                                  5              2.488475     2.618730
                                  6              2.159304     2.373256
                                  7              2.910833     3.219585
                                  8              2.843656     3.703698
000b709c6c6fb1e8efcfd95e57c2a9de -2              3.317638     4.319009
                                 -1              2.178760     2.707712
                                  0              2.454432     2.539817
                                  1              2.701774     2.713293
                                  2              2.813341     3.521626
                                  3              3.050185     3.475695
                                  4              2.567378     2.578458
                                  5              1.665275     1.678664
                                  6              3.459745     3.482396
                                  7              3.034875     3.906433
0027a7618d97cc9fbda55fac457eaeb7 -1              2.102438     2.102438
                                  0              2.719135     3.224442
                                  1              3.215212     3.359777
                                  2              2.944809     3.375377
002b9f6e118c54f1292e03d1a04d516e -2              3.389237     4.089807
...                                                   ...          ...
ff92d5420f5fb92a37e1280d1fc9e5f4 -1              3.711420     3.711420
                                  0              2.705312     3.104000
                                  1              2.390978     2.498249
                                  2              4.685161     4.687912
ffaeae55d4dbf29058f04e7a6a764f02 -2              2.665045     3.340622
                                 -1              2.873541     2.873541
                                  0              3.160077     3.224281
                                  1              3.009963     3.534924
                                  2              2.782018     3.070825
ffc5289194413ec68c3f7adc8121d69b -2              3.599410     3.599410
                                 -1              2.680235     2.680235
                                  0              2.173551     2.723632
                                  1              2.772851     3.046552
                                  2              2.514433     2.636701
                                  3              3.343938     4.152719
ffd097949a4a238296a7deadfb376cc0 -1              2.784659     2.784659
                                  0              2.812380     3.445825
                                  1              2.986624     3.170735
                                  2              3.366384     3.366384
                                  3              3.201811     3.201811
ffdd5ec2a90e355cf40525eac1a6fd34 -2              3.324806     4.404513
                                 -1              2.950894     3.455571
                                  0              2.953433     3.790261
                                  1              2.731230     3.757286
                                  2              2.653957     3.035520
                                  3              2.967505     3.892147
                                  4              2.254131     2.667287
                                  5              2.421116     2.822839
                                  6              3.326330     3.359270
                                  7              2.512208     2.749795

                                              amount_amin  amount_count  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2              2.565649             6
                                  0              1.949756            37
                                  1              2.347082             7
                                  2              1.982628            50
0007297d86e14bd68bd87b1dbdefe302 -2              1.939114            32
                                 -1              2.351594             1
                                  0              1.859394             7
                                  1              0.706783            81
                                  2              2.359619             3
                                  3              1.483227            14
                                  4              1.548871            93
                                  5              2.358220             2
                                  6              1.831819             5
                                  7              2.602080             2
                                  8              1.995124             7
000b709c6c6fb1e8efcfd95e57c2a9de -2              2.311929            13
                                 -1              1.344115             6
                                  0              2.369047             2
                                  1              2.684853             3
                                  2              2.376850             4
                                  3              2.765400             3
                                  4              2.556298             2
                                  5              1.651886             2
                                  6              3.437094             2
                                  7              2.014777             3
0027a7618d97cc9fbda55fac457eaeb7 -1              2.102438             1
                                  0              1.928986             7
                                  1              3.070647             2
                                  2              2.676597             3
002b9f6e118c54f1292e03d1a04d516e -2              2.908079            16
...                                                   ...           ...
ff92d5420f5fb92a37e1280d1fc9e5f4 -1              3.711420             1
                                  0              2.016476             9
                                  1              2.283707             2
                                  2              4.682411             2
ffaeae55d4dbf29058f04e7a6a764f02 -2              1.987644             3
                                 -1              2.873541             1
                                  0              3.095874             2
                                  1              2.359161            49
                                  2              2.493211             2
ffc5289194413ec68c3f7adc8121d69b -2              3.599410             1
                                 -1              2.680235             1
                                  0              1.645654            34
                                  1              2.057024             5
                                  2              2.392165             2
                                  3              2.935674             9
ffd097949a4a238296a7deadfb376cc0 -1              2.784659             1
                                  0              1.836660             7
                                  1              2.862879             6
                                  2              3.366384             2
                                  3              3.201811             2
ffdd5ec2a90e355cf40525eac1a6fd34 -2              1.914439            16
                                 -1              2.214847             6
                                  0              1.714972            36
                                  1              1.182511            29
                                  2              2.026149             3
                                  3              1.999689            26
                                  4              1.840976             2
                                  5              2.097410             6
                                  6              3.293390             2
                                  7              2.274621             2

                                              amount_std  amount_sum  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2             0.241672   16.723068
                                  0             0.868873  122.459461
                                  1             0.233241   17.875312
                                  2             0.754765  162.791306
0007297d86e14bd68bd87b1dbdefe302 -2             0.578812   90.193492
                                 -1                  NaN    2.351594
                                  0             0.534511   17.443233
                                  1             0.685721  226.188875
                                  2             0.530993    8.461280
                                  3             0.352710   33.138769
                                  4             0.789478  274.486672
                                  5             0.184208    4.976950
                                  6             0.240712   10.796520
                                  7             0.436642    5.821666
                                  8             0.644250   19.905595
000b709c6c6fb1e8efcfd95e57c2a9de -2             0.609329   43.129297
                                 -1             0.556319   13.072562
                                  0             0.120752    4.908864
                                  1             0.014970    8.105323
                                  2             0.501161   11.253366
                                  3             0.375476    9.150556
                                  4             0.015669    5.134756
                                  5             0.018935    3.330551
                                  6             0.032033    6.919490
                                  7             0.954536    9.104625
0027a7618d97cc9fbda55fac457eaeb7 -1                  NaN    2.102438
                                  0             0.474097   19.033942
                                  1             0.204446    6.430424
                                  2             0.376621    8.834426
002b9f6e118c54f1292e03d1a04d516e -2             0.360074   54.227796
...                                                  ...         ...
ff92d5420f5fb92a37e1280d1fc9e5f4 -1                  NaN    3.711420
                                  0             0.445988   24.347806
                                  1             0.151703    4.781956
                                  2             0.003890    9.370323
ffaeae55d4dbf29058f04e7a6a764f02 -2             0.676491    7.995136
                                 -1                  NaN    2.873541
                                  0             0.090797    6.320155
                                  1             0.276935  147.488207
                                  2             0.408435    5.564036
ffc5289194413ec68c3f7adc8121d69b -2                  NaN    3.599410
                                 -1                  NaN    2.680235
                                  0             0.202333   73.900733
                                  1             0.416271   13.864255
                                  2             0.172913    5.028866
                                  3             0.395038   30.095441
ffd097949a4a238296a7deadfb376cc0 -1                  NaN    2.784659
                                  0             0.678770   19.686663
                                  1             0.145401   17.919744
                                  2             0.000000    6.732768
                                  3             0.000000    6.403621
ffdd5ec2a90e355cf40525eac1a6fd34 -2             0.660186   53.196901
                                 -1             0.513621   17.705364
                                  0             0.539511  106.323586
                                  1             0.721036   79.205669
                                  2             0.547891    7.961871
                                  3             0.540273   77.155138
                                  4             0.584291    4.508263
                                  5             0.263686   14.526697
                                  6             0.046584    6.652660
                                  7             0.335999    5.024416

                                              amount_sum_rel  amount_count_rel
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2                 0.052284          0.060000
                                  0                 0.382866          0.370000
                                  1                 0.055887          0.070000
                                  2                 0.508963          0.500000
0007297d86e14bd68bd87b1dbdefe302 -2                 0.130006          0.129555
                                 -1                 0.003390          0.004049
                                  0                 0.025143          0.028340
                                  1                 0.326031          0.327935
                                  2                 0.012196          0.012146
                                  3                 0.047767          0.056680
                                  4                 0.395648          0.376518
                                  5                 0.007174          0.008097
                                  6                 0.015562          0.020243
                                  7                 0.008391          0.008097
                                  8                 0.028692          0.028340
000b709c6c6fb1e8efcfd95e57c2a9de -2                 0.377964          0.325000
                                 -1                 0.114562          0.150000
                                  0                 0.043019          0.050000
                                  1                 0.071031          0.075000
                                  2                 0.098619          0.100000
                                  3                 0.080191          0.075000
                                  4                 0.044999          0.050000
                                  5                 0.029187          0.050000
                                  6                 0.060639          0.050000
                                  7                 0.079789          0.075000
0027a7618d97cc9fbda55fac457eaeb7 -1                 0.057757          0.076923
                                  0                 0.522893          0.538462
                                  1                 0.176654          0.153846
                                  2                 0.242696          0.230769
002b9f6e118c54f1292e03d1a04d516e -2                 0.111094          0.089385
...                                                      ...               ...
ff92d5420f5fb92a37e1280d1fc9e5f4 -1                 0.079260          0.066667
                                  0                 0.519966          0.600000
                                  1                 0.102122          0.133333
                                  2                 0.200111          0.133333
ffaeae55d4dbf29058f04e7a6a764f02 -2                 0.046964          0.052632
                                 -1                 0.016879          0.017544
                                  0                 0.037125          0.035088
                                  1                 0.866349          0.859649
                                  2                 0.032683          0.035088
ffc5289194413ec68c3f7adc8121d69b -2                 0.027866          0.019231
                                 -1                 0.020750          0.019231
                                  0                 0.572125          0.653846
                                  1                 0.107334          0.096154
                                  2                 0.038932          0.038462
                                  3                 0.232993          0.173077
ffd097949a4a238296a7deadfb376cc0 -1                 0.052023          0.055556
                                  0                 0.367786          0.388889
                                  1                 0.334777          0.333333
                                  2                 0.125782          0.111111
                                  3                 0.119632          0.111111
ffdd5ec2a90e355cf40525eac1a6fd34 -2                 0.142902          0.125000
                                 -1                 0.047562          0.046875
                                  0                 0.285616          0.281250
                                  1                 0.212769          0.226562
                                  2                 0.021388          0.023438
                                  3                 0.207261          0.203125
                                  4                 0.012111          0.015625
                                  5                 0.039023          0.046875
                                  6                 0.017871          0.015625
                                  7                 0.013497          0.015625

[70906 rows x 8 columns]

In [52]:
train_amount_rel_features

                                              amount_sum_rel  amount_count_rel
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2                 0.052284          0.060000
                                  0                 0.382866          0.370000
                                  1                 0.055887          0.070000
                                  2                 0.508963          0.500000
0007297d86e14bd68bd87b1dbdefe302 -2                 0.130006          0.129555
                                 -1                 0.003390          0.004049
                                  0                 0.025143          0.028340
                                  1                 0.326031          0.327935
                                  2                 0.012196          0.012146
                                  3                 0.047767          0.056680
                                  4                 0.395648          0.376518
                                  5                 0.007174          0.008097
                                  6                 0.015562          0.020243
                                  7                 0.008391          0.008097
                                  8                 0.028692          0.028340
000b709c6c6fb1e8efcfd95e57c2a9de -2                 0.377964          0.325000
                                 -1                 0.114562          0.150000
                                  0                 0.043019          0.050000
                                  1                 0.071031          0.075000
                                  2                 0.098619          0.100000
                                  3                 0.080191          0.075000
                                  4                 0.044999          0.050000
                                  5                 0.029187          0.050000
                                  6                 0.060639          0.050000
                                  7                 0.079789          0.075000
0027a7618d97cc9fbda55fac457eaeb7 -1                 0.057757          0.076923
                                  0                 0.522893          0.538462
                                  1                 0.176654          0.153846
                                  2                 0.242696          0.230769
002b9f6e118c54f1292e03d1a04d516e -2                 0.111094          0.089385
...                                                      ...               ...
ff92d5420f5fb92a37e1280d1fc9e5f4 -1                 0.079260          0.066667
                                  0                 0.519966          0.600000
                                  1                 0.102122          0.133333
                                  2                 0.200111          0.133333
ffaeae55d4dbf29058f04e7a6a764f02 -2                 0.046964          0.052632
                                 -1                 0.016879          0.017544
                                  0                 0.037125          0.035088
                                  1                 0.866349          0.859649
                                  2                 0.032683          0.035088
ffc5289194413ec68c3f7adc8121d69b -2                 0.027866          0.019231
                                 -1                 0.020750          0.019231
                                  0                 0.572125          0.653846
                                  1                 0.107334          0.096154
                                  2                 0.038932          0.038462
                                  3                 0.232993          0.173077
ffd097949a4a238296a7deadfb376cc0 -1                 0.052023          0.055556
                                  0                 0.367786          0.388889
                                  1                 0.334777          0.333333
                                  2                 0.125782          0.111111
                                  3                 0.119632          0.111111
ffdd5ec2a90e355cf40525eac1a6fd34 -2                 0.142902          0.125000
                                 -1                 0.047562          0.046875
                                  0                 0.285616          0.281250
                                  1                 0.212769          0.226562
                                  2                 0.021388          0.023438
                                  3                 0.207261          0.203125
                                  4                 0.012111          0.015625
                                  5                 0.039023          0.046875
                                  6                 0.017871          0.015625
                                  7                 0.013497          0.015625

[70906 rows x 2 columns]

In [115]:
train_amount_features.merge(train_mcc_features, left_index=True, right_index=True)

                                              amount_mean  amount_amax  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc  0              3.309715     4.614833
                                  1              2.553616     2.973381
                                  2              3.255826     4.481342
0007297d86e14bd68bd87b1dbdefe302 -1              2.351594     2.351594
                                  0              2.491890     3.197908
                                  1              2.792455     4.590551
                                  2              2.820427     3.401110
                                  3              2.367055     2.712781
                                  4              2.951470     4.499151
                                  5              2.488475     2.618730
                                  6              2.159304     2.373256
                                  7              2.910833     3.219585
                                  8              2.843656     3.703698
000b709c6c6fb1e8efcfd95e57c2a9de -1              2.178760     2.707712
                                  0              2.454432     2.539817
                                  1              2.701774     2.713293
                                  2              2.813341     3.521626
                                  3              3.050185     3.475695
                                  4              2.567378     2.578458
                                  5              1.665275     1.678664
                                  6              3.459745     3.482396
                                  7              3.034875     3.906433
0027a7618d97cc9fbda55fac457eaeb7 -1              2.102438     2.102438
                                  0              2.719135     3.224442
                                  1              3.215212     3.359777
                                  2              2.944809     3.375377
002b9f6e118c54f1292e03d1a04d516e -1              3.194717     3.552046
                                  0              2.353109     3.733430
                                  1              2.757780     3.120491
                                  2              3.103141     3.243828
...                                                   ...          ...
ff869ee855dc3f9b382c943eb43cc4ec  8              3.211753     3.255323
                                  9              3.185266     3.284895
                                  10             3.674559     4.562585
ff92d5420f5fb92a37e1280d1fc9e5f4 -1              3.711420     3.711420
                                  0              2.705312     3.104000
                                  1              2.390978     2.498249
                                  2              4.685161     4.687912
ffaeae55d4dbf29058f04e7a6a764f02 -1              2.873541     2.873541
                                  0              3.160077     3.224281
                                  1              3.009963     3.534924
                                  2              2.782018     3.070825
ffc5289194413ec68c3f7adc8121d69b -1              2.680235     2.680235
                                  0              2.173551     2.723632
                                  1              2.772851     3.046552
                                  2              2.514433     2.636701
                                  3              3.343938     4.152719
ffd097949a4a238296a7deadfb376cc0 -1              2.784659     2.784659
                                  0              2.812380     3.445825
                                  1              2.986624     3.170735
                                  2              3.366384     3.366384
                                  3              3.201811     3.201811
ffdd5ec2a90e355cf40525eac1a6fd34 -1              2.950894     3.455571
                                  0              2.953433     3.790261
                                  1              2.731230     3.757286
                                  2              2.653957     3.035520
                                  3              2.967505     3.892147
                                  4              2.254131     2.667287
                                  5              2.421116     2.822839
                                  6              3.326330     3.359270
                                  7              2.512208     2.749795

                                              amount_amin  amount_count  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc  0              1.949756            37
                                  1              2.347082             7
                                  2              1.982628            50
0007297d86e14bd68bd87b1dbdefe302 -1              2.351594             1
                                  0              1.859394             7
                                  1              0.706783            81
                                  2              2.359619             3
                                  3              1.483227            14
                                  4              1.548871            93
                                  5              2.358220             2
                                  6              1.831819             5
                                  7              2.602080             2
                                  8              1.995124             7
000b709c6c6fb1e8efcfd95e57c2a9de -1              1.344115             6
                                  0              2.369047             2
                                  1              2.684853             3
                                  2              2.376850             4
                                  3              2.765400             3
                                  4              2.556298             2
                                  5              1.651886             2
                                  6              3.437094             2
                                  7              2.014777             3
0027a7618d97cc9fbda55fac457eaeb7 -1              2.102438             1
                                  0              1.928986             7
                                  1              3.070647             2
                                  2              2.676597             3
002b9f6e118c54f1292e03d1a04d516e -1              2.746924             3
                                  0              1.740499           103
                                  1              2.433992             7
                                  2              2.962454             2
...                                                   ...           ...
ff869ee855dc3f9b382c943eb43cc4ec  8              3.168184             2
                                  9              3.002433             3
                                  10             2.710238            38
ff92d5420f5fb92a37e1280d1fc9e5f4 -1              3.711420             1
                                  0              2.016476             9
                                  1              2.283707             2
                                  2              4.682411             2
ffaeae55d4dbf29058f04e7a6a764f02 -1              2.873541             1
                                  0              3.095874             2
                                  1              2.359161            49
                                  2              2.493211             2
ffc5289194413ec68c3f7adc8121d69b -1              2.680235             1
                                  0              1.645654            34
                                  1              2.057024             5
                                  2              2.392165             2
                                  3              2.935674             9
ffd097949a4a238296a7deadfb376cc0 -1              2.784659             1
                                  0              1.836660             7
                                  1              2.862879             6
                                  2              3.366384             2
                                  3              3.201811             2
ffdd5ec2a90e355cf40525eac1a6fd34 -1              2.214847             6
                                  0              1.714972            36
                                  1              1.182511            29
                                  2              2.026149             3
                                  3              1.999689            26
                                  4              1.840976             2
                                  5              2.097410             6
                                  6              3.293390             2
                                  7              2.274621             2

                                              amount_std  mcc_4111  mcc_5261  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc  0             0.868873  0.000000  0.000000
                                  1             0.233241  0.000000  0.000000
                                  2             0.754765  0.000000  0.000000
0007297d86e14bd68bd87b1dbdefe302 -1                  NaN  0.000000  0.000000
                                  0             0.534511  0.000000  0.000000
                                  1             0.685721  0.000000  0.000000
                                  2             0.530993  0.000000  0.000000
                                  3             0.352710  0.000000  0.000000
                                  4             0.789478  0.021505  0.000000
                                  5             0.184208  0.000000  0.000000
                                  6             0.240712  0.000000  0.000000
                                  7             0.436642  0.000000  0.000000
                                  8             0.644250  0.000000  0.000000
000b709c6c6fb1e8efcfd95e57c2a9de -1             0.556319  0.333333  0.000000
                                  0             0.120752  0.000000  0.000000
                                  1             0.014970  1.000000  0.000000
                                  2             0.501161  0.000000  0.250000
                                  3             0.375476  0.000000  0.000000
                                  4             0.015669  0.000000  0.000000
                                  5             0.018935  0.000000  0.000000
                                  6             0.032033  0.000000  0.000000
                                  7             0.954536  0.000000  0.000000
0027a7618d97cc9fbda55fac457eaeb7 -1                  NaN  0.000000  0.000000
                                  0             0.474097  0.142857  0.000000
                                  1             0.204446  0.000000  0.000000
                                  2             0.376621  0.000000  0.000000
002b9f6e118c54f1292e03d1a04d516e -1             0.410114  0.000000  0.000000
                                  0             0.336426  0.000000  0.000000
                                  1             0.300998  0.000000  0.000000
                                  2             0.198962  0.000000  1.000000
...                                                  ...       ...       ...
ff869ee855dc3f9b382c943eb43cc4ec  8             0.061617  0.000000  0.000000
                                  9             0.158551  0.000000  0.000000
                                  10            0.346989  0.000000  0.000000
ff92d5420f5fb92a37e1280d1fc9e5f4 -1                  NaN  0.000000  0.000000
                                  0             0.445988  0.000000  0.000000
                                  1             0.151703  0.000000  0.000000
                                  2             0.003890  0.000000  0.000000
ffaeae55d4dbf29058f04e7a6a764f02 -1                  NaN  0.000000  0.000000
                                  0             0.090797  0.000000  0.000000
                                  1             0.276935  0.000000  0.000000
                                  2             0.408435  0.000000  0.000000
ffc5289194413ec68c3f7adc8121d69b -1                  NaN  0.000000  0.000000
                                  0             0.202333  0.000000  0.000000
                                  1             0.416271  0.000000  0.000000
                                  2             0.172913  0.000000  0.000000
                                  3             0.395038  0.000000  0.000000
ffd097949a4a238296a7deadfb376cc0 -1                  NaN  0.000000  0.000000
                                  0             0.678770  0.000000  0.857143
                                  1             0.145401  0.000000  1.000000
                                  2             0.000000  0.000000  1.000000
                                  3             0.000000  0.000000  1.000000
ffdd5ec2a90e355cf40525eac1a6fd34 -1             0.513621  0.166667  0.000000
                                  0             0.539511  0.055556  0.000000
                                  1             0.721036  0.000000  0.000000
                                  2             0.547891  0.000000  0.000000
                                  3             0.540273  0.115385  0.000000
                                  4             0.584291  0.000000  0.000000
                                  5             0.263686  0.000000  0.000000
                                  6             0.046584  0.000000  0.000000
                                  7             0.335999  0.000000  0.000000

                                              mcc_5331  mcc_5411  mcc_5499  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc  0           0.000000  0.270270  0.027027
                                  1           0.000000  1.000000  0.000000
                                  2           0.000000  0.000000  0.000000
0007297d86e14bd68bd87b1dbdefe302 -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.000000  0.000000
                                  1           0.000000  0.493827  0.000000
                                  2           0.000000  1.000000  0.000000
                                  3           0.000000  0.214286  0.000000
                                  4           0.000000  0.204301  0.021505
                                  5           0.000000  0.000000  0.000000
                                  6           0.000000  0.000000  0.000000
                                  7           0.000000  0.000000  0.000000
                                  8           0.000000  0.000000  0.000000
000b709c6c6fb1e8efcfd95e57c2a9de -1           0.000000  0.500000  0.000000
                                  0           0.000000  0.000000  0.000000
                                  1           0.000000  0.000000  0.000000
                                  2           0.000000  0.250000  0.000000
                                  3           0.000000  0.000000  0.000000
                                  4           0.000000  0.000000  1.000000
                                  5           0.000000  1.000000  0.000000
                                  6           0.000000  1.000000  0.000000
                                  7           0.000000  0.000000  0.000000
0027a7618d97cc9fbda55fac457eaeb7 -1           0.000000  1.000000  0.000000
                                  0           0.000000  0.714286  0.000000
                                  1           0.000000  1.000000  0.000000
                                  2           0.000000  1.000000  0.000000
002b9f6e118c54f1292e03d1a04d516e -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.029126  0.126214
                                  1           0.714286  0.142857  0.000000
                                  2           0.000000  0.000000  0.000000
...                                                ...       ...       ...
ff869ee855dc3f9b382c943eb43cc4ec  8           0.000000  1.000000  0.000000
                                  9           0.000000  0.000000  0.000000
                                  10          0.000000  0.000000  0.000000
ff92d5420f5fb92a37e1280d1fc9e5f4 -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.333333  0.000000
                                  1           0.000000  1.000000  0.000000
                                  2           0.000000  0.000000  0.000000
ffaeae55d4dbf29058f04e7a6a764f02 -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.000000  0.000000
                                  1           0.000000  0.877551  0.102041
                                  2           0.000000  0.000000  1.000000
ffc5289194413ec68c3f7adc8121d69b -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.352941  0.000000
                                  1           0.000000  0.800000  0.000000
                                  2           0.000000  0.000000  0.000000
                                  3           0.000000  0.000000  0.000000
ffd097949a4a238296a7deadfb376cc0 -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.000000  0.000000
                                  1           0.000000  0.000000  0.000000
                                  2           0.000000  0.000000  0.000000
                                  3           0.000000  0.000000  0.000000
ffdd5ec2a90e355cf40525eac1a6fd34 -1           0.000000  0.500000  0.000000
                                  0           0.000000  0.583333  0.000000
                                  1           0.000000  0.413793  0.172414
                                  2           0.000000  0.000000  0.000000
                                  3           0.000000  0.115385  0.038462
                                  4           0.000000  1.000000  0.000000
                                  5           0.000000  1.000000  0.000000
                                  6           0.000000  0.000000  0.000000
                                  7           0.000000  0.000000  0.000000

                                              mcc_5541  mcc_5691  mcc_5812  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc  0           0.189189  0.000000  0.000000
                                  1           0.000000  0.000000  0.000000
                                  2           0.000000  0.000000  0.000000
0007297d86e14bd68bd87b1dbdefe302 -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.000000  0.142857
                                  1           0.000000  0.000000  0.024691
                                  2           0.000000  0.000000  0.000000
                                  3           0.071429  0.000000  0.214286
                                  4           0.000000  0.000000  0.010753
                                  5           0.000000  0.000000  0.000000
                                  6           0.000000  0.000000  0.000000
                                  7           0.000000  0.500000  0.500000
                                  8           0.000000  0.000000  0.000000
000b709c6c6fb1e8efcfd95e57c2a9de -1           0.000000  0.000000  0.000000
                                  0           0.000000  0.000000  1.000000
                                  1           0.000000  0.000000  0.000000
                                  2           0.000000  0.000000  0.000000
                                  3           0.000000  0.000000  0.000000

In [116]:
dist = get_target_distances(train_df).fillna(999)
dist.head(10)

AttributeError: 'DataFrame' object has no attribute 'pos_address_lat_mean'

In [71]:
p = p.merge(dist, left_index=True, right_index=True)
p.head()

                                              pos_address_lat_mean  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2                      17.785491
                                  0                      56.251347
                                  1                      44.744977
                                  2                      44.711199
0007297d86e14bd68bd87b1dbdefe302 -2                      53.649054

                                              pos_address_lon_mean  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2                      15.020104
                                  0                      43.446254
                                  1                      37.725649
                                  2                      37.846624
0007297d86e14bd68bd87b1dbdefe302 -2                      35.916029

                                              amount_mean  amount_amax  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2              3.343322     4.614833
                                  0              2.553616     2.973381
                                  1              3.016776     3.460175
                                  2              2.203973     2.394246
0007297d86e14bd68bd87b1dbdefe302 -2              2.859040     4.696914

                                              amount_amin  amount_count  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2              1.982628            83
                                  0              2.347082             7
                                  1              2.407830             3
                                  2              1.949756             7
0007297d86e14bd68bd87b1dbdefe302 -2              0.706783           182

                                              amount_std  home_add_lat_mean  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2             0.761167             44.708
                                  0             0.233241             44.708
                                  1             0.545355             44.708
                                  2             0.160099             44.708
0007297d86e14bd68bd87b1dbdefe302 -2             0.733852             55.799

                                              home_add_lon_mean  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2                      37.775
                                  0                      37.775
                                  1                      37.775
                                  2                      37.775
0007297d86e14bd68bd87b1dbdefe302 -2                      37.388

                                              work_add_lat_mean  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2                      44.735
                                  0                      44.735
                                  1                      44.735
                                  2                      44.735
0007297d86e14bd68bd87b1dbdefe302 -2                         NaN

                                              work_add_lon_mean    dist_home  \
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2                      37.798  1242.606770
                                  0                      37.798   165.411979
                                  1                      37.798     0.003803
                                  2                      37.798     0.005140
0007297d86e14bd68bd87b1dbdefe302 -2                         NaN     6.788967

                                                dist_work
customer_id                      clust_label
0001f322716470bf9bfc1708f06f00fc -2           1245.108569
                                  0            164.529019
                                  1              0.005334
                                  2              0.002931
0007297d86e14bd68bd87b1dbdefe302 -2            999.000000

In [72]:
p = p.reset_index().query('clust_label > -1')

In [73]:
ranker = FedRank()

In [80]:
features = ['dist_home', 'dist_work']
y = ranker.transform(p, features)
y.head(10)

    dist_home_rank  dist_work_rank
1                3               3
2                1               2
3                2               1
5                1               2
6                2               2
7                4               2
8                3               2
11               2               2
12               1               1
15               3               2

In [82]:
p.head()

,customer_id,clust_label,pos_address_lat_mean,pos_address_lon_mean,amount_mean,amount_amax,amount_amin,amount_count,amount_std,home_add_lat_mean,home_add_lon_mean,work_add_lat_mean,work_add_lon_mean,dist_home,dist_work
1,0001f322716470bf9bfc1708f06f00fc,0,56.251347,43.446254,2.553616,2.973381,2.347082,7,0.233241,44.708,37.775,44.735,37.798,165.411979,164.529019
2,0001f322716470bf9bfc1708f06f00fc,1,44.744977,37.725649,3.016776,3.460175,2.407830,3,0.545355,44.708,37.775,44.735,37.798,0.003803,0.005334
3,0001f322716470bf9bfc1708f06f00fc,2,44.711199,37.846624,2.203973,2.394246,1.949756,7,0.160099,44.708,37.775,44.735,37.798,0.005140,0.002931
5,0007297d86e14bd68bd87b1dbdefe302,0,55.800632,37.400692,2.834341,3.596210,0.816582,40,0.560534,55.799,37.388,NaN,NaN,0.000164,999.000000
6,0007297d86e14bd68bd87b1dbdefe302,1,55.822604,37.524894,2.820427,3.401110,2.359619,3,0.530993,55.799,37.388,NaN,NaN,0.019297,999.000000

In [83]:
features = ['amount_mean', 'amount_count', 'amount_std']
X = ranker.transform(p, features)
X.head()

   amount_mean_rank  amount_count_rank  amount_std_rank
1                 2                  2                2
2                 3                  1                3
3                 1                  2                1
5                 4                  4                4
6                 3                  1                3

In [84]:
y.head()

   dist_home_rank  dist_work_rank
1               3               3
2               1               2
3               2               1
5               1               2
6               2               2

### Обучение и тестирование

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

### Подбор гиперпараметров для DBSCAN

In [ ]:
eps_list = np.logspace(-2, -1, 5)
min_samples_list = [5, 10, 15, 20, 25, 30]

res = {}

for min_samples in min_samples_list:
    for eps in eps_list: 
        res_df = get_dbscan_score(customer_gr, {'leaf_size':5, 'eps': eps, 'min_samples': min_samples})
        score = res_df.query('dist < @r2').shape[0]
        print(f'{eps}, {min_samples}, {score}')
        res.update({(eps, min_samples,):score})

In [ ]:
eps_list = np.logspace(-3, -1, 10)
min_samples_list = [1, 2, 3, 4, 5]

res = {}

for min_samples in min_samples_list:
    for eps in eps_list: 
        res_df = get_dbscan_score(customer_gr, {'leaf_size':5, 'eps': eps, 'min_samples': min_samples})
        score = res_df.query('dist < @r2').shape[0]
        print(f'{eps}, {min_samples}, {score}')
        res.update({(eps, min_samples,):score})

Наилучшие результаты получены при eps = 0.036, min_samples = 1

In [ ]:
train_pr = get_dbscan_score(train_gr, best_dbscan_params)

In [ ]:
train_pr.head()

In [ ]:
train_pr.clust_amount.hist(bins = 100)
plt.xlim([0, 20])

Теперь оценим реальный скор, который я могу выбить

In [ ]:
0.5* train_pr.query('dist <= @r2').shape[0]/train_pr.shape[0]

На борде скор 0.206375

In [ ]:
test_pr = get_dbscan_score(test_gr, best_dbscan_params, calc_dist= False)
test_pr.head()

In [ ]:
submit = test_pr.loc[:,['home_post_lat', 'home_post_lon', 'best_post_lat',  'best_post_lon']]
submit.head()

In [ ]:
submit.columns = ['best_post_lat', 'best_post_lon',  'home_post_lat', 'home_post_lon', 'dist', 'clust_size']

In [ ]:
submit.to_csv('1.csv')